body{
    margin: auto;
    padding: 0px;
}
#title-calculator{
    text-align: center;
    background-color: #CC3333;
    color: white;
    padding: 15px;
    margin-bottom: 30px;
    font-weight: medium;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    /* border: 2px solid black; */
}

#result{
     /* border: 2px solid black; */
     margin-bottom: 0px;
     margin-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 8px;
     padding-bottom: 8px;
     margin-right: 2px;
     margin-left: 2px;
     text-align: center;
     /* padding-bottom: 0px;
     padding-top: 0px; */
}
/* #master{
    border: 5px solid red;
} */

#parameters{
    /* border: 2px solid black; */
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

#btn-calculate{
    margin-top: 10px;
    margin-right: 2px;
    margin-left: 2px;
}
#btn-reset{
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
